<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">

    {{ head|safe }}

		<style id="{{ rand }}-style">
      /* CSS style context isolation */
      #{{ rand }}-proxy-overlay {
        all: initial;
      }

      #{{ rand }}-proxy-overlay mark {
        background: #f7ba45;
      }

      #{{ rand }}-proxy-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1024;
        width: 100vw;
				height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: grid;
      }

      #{{ rand }}-proxy-overlay.{{ rand }}-hidden {
        visibility: hidden;
      }

      #{{ rand }}-proxy-overlay.{{ rand }}-fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s linear;
      }

      #{{ rand }}-modal {
        align-self: center;
        justify-self: center;
        background-color: rgba(255, 255, 255, 1.0);
        
        border-radius: 12px;
        padding: 24px 48px;

        width: 480px;
      }

      #{{ rand }}-modal-footer {
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: right;
      }

      a.{{ rand }}-button {
        padding: 8px 16px;    
        border-radius: 4px;

        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
       }

      a.{{ rand }}-selected {
        background-color: #1c86f2;
        border: 0;
        color: white;
      }

      a.{{ rand }}-selected:hover {
        background-color: #4ca0f5;
      }

      a.{{ rand }}-unselected {
        color: #1c86f2;
      }

      a.{{ rand }}-unselected:hover {
        color: #4ca0f5;
      }
		</style>
  </head>
	<body>
    {{ body|safe }}

    <div id="{{ rand }}-proxy-overlay" class="{{ rand }}-hidden">
      <div id="{{ rand }}-modal">
        <h3>Support the <mark>Samizdat</mark> System</h3>
        <p>You are currently using a <em>proxy</em> to view pages served with Samizdat. Download
          Samizdat for free the full experience.</p>
        <p>Help us all to support the system!</p>
        <div id="{{ rand }}-modal-footer">
          <a
            id="{{ rand }}-maybe-later"
            class="{{ rand }}-button {{ rand }}-unselected"
            href="#" onclick="{{ rand }}CloseModal()"
          >
            Maybe later
          </a>
          <a
            id="{{ rand }}-get-the-app"
            class="{{ rand }}-button {{ rand }}-selected"
            href="{{ download_link }}"
          >Get the app</a>
        </div>
      </div>
    </div>

    <script>
      function {{ rand }}CloseModal() {
        document.getElementById("{{ rand }}-proxy-overlay").classList.add("{{ rand }}-fade-out");
        return false;
      }

      (() => {
        const storageKey = "__samizdat_proxy_page_count";
        let pageCount = parseInt(localStorage.getItem(storageKey));
        if (!pageCount) {
          localStorage.setItem(storageKey, 1);
          pageCount = 1;
        } else {
          localStorage.setItem(storageKey, pageCount + 1);
        }

        if (pageCount % 3 == 0) {
          document.getElementById("{{ rand }}-proxy-overlay").classList.remove("{{ rand }}-hidden");
        }
      })();
    </script>
	</body>
</html>
