<!DOCTYPE html>
<html>
	<head>
    <meta charset="UTF-8">

    {{ head|safe }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Space+Mono:wght@700&display=swap"
      rel="stylesheet"
    >
		<style id="{{ rand }}-style">
      /* CSS style context isolation */
      #{{ rand }}-proxy-overlay {
        all: initial;
      }

      #{{ rand }}-proxy-overlay mark {
        background: #f7ba45;
      }

      #{{ rand }}-proxy-overlay {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2147483646;
        width: 100vw;
				height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: grid;
      }

      #{{ rand }}-proxy-overlay.{{ rand }}-hidden {
        visibility: hidden;
      }

      #{{ rand }}-proxy-overlay.{{ rand }}-fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.3s, opacity 0.3s linear;
      }

      #{{ rand }}-modal {
        align-self: center;
        justify-self: center;
        background-color: rgba(255, 255, 255, 1.0);
        
        border-radius: 12px;
        padding: 36px 36px;

        width: 480px;

        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
      }

      #{{ rand }}-modal h3 {
        font-family: "Space Mono", serif;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        margin-bottom: 24px;
      }

      #{{ rand }}-modal em {
        font-weight: 700;
        font-style: normal;
      }

      #{{ rand }}-modal-footer {
        margin-top: 24px;
        width: 100%;
        display: flex;
        justify-content: right;
      }

      a.{{ rand }}-button {
        padding: 8px 16px;    
        border-radius: 4px;

        font-size: 16px;
        text-decoration: none;
        font-weight: 500;
       }

      a.{{ rand }}-selected {
        background-color: #1c86f2;
        border: 0;
        color: white;
      }

      a.{{ rand }}-selected:hover {
        background-color: #4ca0f5;
      }

      a.{{ rand }}-unselected {
        color: #1c86f2;
      }

      a.{{ rand }}-unselected:hover {
        color: #4ca0f5;
      }
		</style>
  </head>
	<body>
    {{ body|safe }}

    <div id="{{ rand }}-proxy-overlay" class="{{ rand }}-hidden">
      <div id="{{ rand }}-modal">
        <h3>
          <div style="margin-bottom: 12px">
          <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="32px" viewBox="0 0 24 24" width="32px" fill="#ee0302"><g><rect fill="none" height="24" width="24" x="0"/><path d="M12,8.89L12.94,12h2.82l-2.27,1.62l0.93,3.01L12,14.79l-2.42,1.84l0.93-3.01L8.24,12h2.82L12,8.89 M12,2l-2.42,8H2 l6.17,4.41L5.83,22L12,17.31L18.18,22l-2.35-7.59L22,10h-7.58L12,2L12,2z"/></g></svg>
          </div>

          Support SAMIZDAT
        </h3>
        <p>You are currently using a <em>proxy</em> to view pages served with Samizdat. Download
          Samizdat for free for the full experience.</p>
        <p>Help us all to support the system!</p>
        <div id="{{ rand }}-modal-footer">
          <a
            id="{{ rand }}-maybe-later"
            class="{{ rand }}-button {{ rand }}-unselected"
            href="#" onclick="{{ rand }}CloseModal()"
          >
            Maybe later
          </a>
          <a
            id="{{ rand }}-get-the-app"
            class="{{ rand }}-button {{ rand }}-selected"
            href="{{ download_link }}"
          >Get the app</a>
        </div>
      </div>
    </div>

    <script>
      function {{ rand }}CloseModal() {
        document.getElementById("{{ rand }}-proxy-overlay").classList.add("{{ rand }}-fade-out");
        return false;
      }

      (() => {
        const storageKey = "__samizdat_proxy_page_count";
        let pageCount = parseInt(localStorage.getItem(storageKey));
        if (!pageCount) {
          localStorage.setItem(storageKey, 1);
          pageCount = 1;
        } else {
          localStorage.setItem(storageKey, pageCount + 1);
        }

        if (pageCount % {{ show_modal_every }} == 0) {
          document.getElementById("{{ rand }}-proxy-overlay").classList.remove("{{ rand }}-hidden");
        }
      })();
    </script>
	</body>
</html>
