[Unit]
Description=Samizdat Proxy
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/samizdat-proxy --config /etc/samizdat/proxy.toml

[Install]
WantedBy=multi-user.target
