[Unit]
Description=Samizdat Hub
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/samizdat-hub --db-data /var/samizdat/hub/db

[Install]
WantedBy=multi-user.target
